<h3 class="ui header">{{t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.caption'}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.typeid
    class=(if model.errors.typeid 'error' '')
    label=(t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.typeid-caption')
  }}
  {{flexberry-validationmessage error=model.errors.typeid pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.photo_id
    class=(if model.errors.photo_id 'error' '')
    label=(t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.photo_id-caption')
  }}
  {{flexberry-validationmessage error=model.errors.photo_id pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.timestamp
    class=(if model.errors.timestamp 'error' '')
    label=(t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.timestamp-caption')
  }}
  {{flexberry-validationmessage error=model.errors.timestamp pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.datetime-caption'}}</label>
  {{
    flexberry-datepicker
    placeholder='(no value)'
    readonly=readonly
    value=model.datetime
    class=(if model.errors.datetime 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.datetime pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.object_id
    class=(if model.errors.object_id 'error' '')
    label=(t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.object_id-caption')
  }}
  {{flexberry-validationmessage error=model.errors.object_id pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.camera_direction_id
    class=(if model.errors.camera_direction_id 'error' '')
    label=(t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.camera_direction_id-caption')
  }}
  {{flexberry-validationmessage error=model.errors.camera_direction_id pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.camera_id
    class=(if model.errors.camera_id 'error' '')
    label=(t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.camera_id-caption')
  }}
  {{flexberry-validationmessage error=model.errors.camera_id pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.grz
    class=(if model.errors.grz 'error' '')
    label=(t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.grz-caption')
  }}
  {{flexberry-validationmessage error=model.errors.grz pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.speed
    class=(if model.errors.speed 'error' '')
    label=(t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.speed-caption')
  }}
  {{flexberry-validationmessage error=model.errors.speed pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.year
    class=(if model.errors.year 'error' '')
    label=(t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.year-caption')
  }}
  {{flexberry-validationmessage error=model.errors.year pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.month
    class=(if model.errors.month 'error' '')
    label=(t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.month-caption')
  }}
  {{flexberry-validationmessage error=model.errors.month pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.day
    class=(if model.errors.day 'error' '')
    label=(t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.day-caption')
  }}
  {{flexberry-validationmessage error=model.errors.day pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.hour
    class=(if model.errors.hour 'error' '')
    label=(t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.hour-caption')
  }}
  {{flexberry-validationmessage error=model.errors.hour pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.min
    class=(if model.errors.min 'error' '')
    label=(t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.min-caption')
  }}
  {{flexberry-validationmessage error=model.errors.min pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.sec
    class=(if model.errors.sec 'error' '')
    label=(t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.sec-caption')
  }}
  {{flexberry-validationmessage error=model.errors.sec pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.regObject-caption'}}</label>
  {{
    flexberry-lookup
    choose='showLookupDialog'
    remove='removeLookupValue'
    value=model.regObject
    
    relationName='regObject'
    projection='RegObjectL'
    title=(t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.regObject-caption')
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.regObject pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=true
    required=true
    value=model.regObject.town
    class=(if model.errors.regObject.town 'error' '')
    label=(t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.regObject.town-caption')
  }}
  {{flexberry-validationmessage error=model.errors.regObject.town pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.camera-caption'}}</label>
  {{
    flexberry-lookup
    choose='showLookupDialog'
    remove='removeLookupValue'
    value=model.camera
    
    relationName='camera'
    projection='CameraL'
    title=(t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.camera-caption')
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.camera pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=true
    required=true
    value=model.camera.cameraId
    class=(if model.errors.camera.cameraId 'error' '')
    label=(t 'forms.new-platform-flexberry-orm-mongo-db-data-service-demo-event-e.camera.cameraId-caption')
  }}
  {{flexberry-validationmessage error=model.errors.camera.cameraId pointing="pointing"}}
</div>

</form>
