<h3 class="ui header">{{t 'forms.reg-object-e.caption'}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.objectId
    class=(if model.errors.objectId 'error' '')
    label=(t 'forms.reg-object-e.objectId-caption')
  }}
  {{flexberry-validationmessage error=model.errors.objectId pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.town
    class=(if model.errors.town 'error' '')
    label=(t 'forms.reg-object-e.town-caption')
  }}
  {{flexberry-validationmessage error=model.errors.town pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.objectName
    class=(if model.errors.objectName 'error' '')
    label=(t 'forms.reg-object-e.objectName-caption')
  }}
  {{flexberry-validationmessage error=model.errors.objectName pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.address
    class=(if model.errors.address 'error' '')
    label=(t 'forms.reg-object-e.address-caption')
  }}
  {{flexberry-validationmessage error=model.errors.address pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.latitude
    class=(if model.errors.latitude 'error' '')
    label=(t 'forms.reg-object-e.latitude-caption')
  }}
  {{flexberry-validationmessage error=model.errors.latitude pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.longitude
    class=(if model.errors.longitude 'error' '')
    label=(t 'forms.reg-object-e.longitude-caption')
  }}
  {{flexberry-validationmessage error=model.errors.longitude pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.reg-object-e.actual-caption'}}</label>
  {{
    flexberry-checkbox 
    readonly=readonly 
    value=model.actual
  }}
  {{flexberry-validationmessage error=model.errors.actual pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.reg-object-e.createTime-caption'}}</label>
  {{
    flexberry-datepicker
    placeholder='(no value)'
    readonly=readonly
    value=model.createTime
    class=(if model.errors.createTime 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.createTime pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.reg-object-e.editTime-caption'}}</label>
  {{
    flexberry-datepicker
    placeholder='(no value)'
    readonly=readonly
    value=model.editTime
    class=(if model.errors.editTime 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.editTime pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.reg-object-e.cameras-caption'}}</label>
  {{
    flexberry-groupedit
    componentName="camerasGroupEdit"
    mainModelProjection=modelProjection
    modelProjection=modelProjection.attributes.cameras
    content=model.cameras
    readonly=readonly
    orderable=false
    class=(if model.errors.cameras 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.cameras pointing="pointing"}}
</div>

</form>
